{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row col-xs-12">
        <h1>Query Information</h1>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Camera Location ID:</label>
        </div>
        
        <div class="col-md-2">
            <input class="form-control" type="text" placeholder="e.g 192" />
        </div>

        <div class="col-md-2">
            <label>Weather Status:</label>
        </div>
        
        <div class="col-md-4">
            <div class="drowdown" id="rainDropdown">
                <button id="rainDropdownButton" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Please select...<span class="caret"></span>
                </button>

                <ul class="dropdown-menu">
                    <li><a>Not rainy</a></li>
                    <li><a>Rainy</a></li>
                    <li><a>Both</a></li>
                </ul>
            </div>   
        </div>
    </div>
</div> <!-- CONTAINER -->


{% endblock %}